PUBLIC_TRANSMISSION_HOST="localhost"
PUBLIC_TRANSMISSION_SSL=false
PUBLIC_TRANSMISSION_PORT=9091
PUBLIC_TRANSMISSION_PATH="/transmission/rpc"
PUBLIC_TRANSMISSION_USERNAME=
PUBLIC_TRANSMISSION_PASSWORD=
